[submodule "Bxthre3/projects/the-zoe-project"]
	path = Bxthre3/projects/the-zoe-project
	url = https://github.com/bxthre3inc/the-zoe-project.git
[submodule "Bxthre3/projects/the-irrig8-project"]
	path = Bxthre3/projects/the-irrig8-project
	url = https://github.com/bxthre3inc/irrig8.git
[submodule "Bxthre3/projects/the-agentos-project"]
	path = Bxthre3/projects/the-agentos-project
	url = https://github.com/bxthre3inc/the-agentos-project.git
[submodule "Bxthre3/projects/the-ard-project"]
	path = Bxthre3/projects/the-ard-project
	url = https://github.com/bxthre3inc/the-ard-project.git
[submodule "Bxthre3/projects/the-rain-project"]
	path = Bxthre3/projects/the-rain-project
	url = https://github.com/bxthre3inc/the-rain-project.git
[submodule "Bxthre3/projects/the-valleyplayersclub-project"]
	path = Bxthre3/projects/the-valleyplayersclub-project
	url = https://github.com/bxthre3inc/the-valleyplayersclub-project.git
